.text-center {
  text-align: center
}

.container {
  border: 1px solid #dddddd;
  width: 313px
}

.tables {
  clear: both;
  float: left
}

tr:hover {
    background-color: #dddddd
}

table tr:nth-of-type(even):hover {
  background-color: #dddddd
}



